/*
em fonts
vw margins padding
*/

*{
  margin : 10px;
}
body{
  background-color: black;
  font-family: 'GothamSSm'; 
  font-weight: normal;
  font-style: normal;
  margin : 0;
}
.section {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  
  margin-top:0;
  margin-bottom:0;
}

.section-titles {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  margin-bottom:0;
}

.section-title{
  margin-bottom:0;
  font-size: 1.8vw
}

.section-subtitle{
  margin-top:0;
  font-size: 1.2vw
}

.columns {  
  margin-top:0;
  display: flex;
  flex-wrap: wrap;
  background-color: darkgrey;
}

.card{
  border-width: 10px;
  border-color: black;
  margin: 0;
  background-color: yellow;
}

.card-title{  
  color: black;
  font-size: 1.2vw;
  background-color: #8bb381;
  margin-top:0;  
  margin-bottom:0;
}

.card-image{  
  margin-top:0;  
  margin-bottom:0;
  background-color: lightblue;  
  font-size: 1.2vw;
}
.card-description{  
  margin-top:0;  
  background-color: white;
  font-size: 1.2vw;
}

/*
 {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;  
  margin: 0;
  padding: 0.5vw;
  background-color: lightgrey;
}

.heading {
  height: 1000px;
  background: url('./images/00.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading .centered {
  color: #fff;
  font-size: 2.5vw;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.4);
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/


/*
.content {
  margin: 3vw;
}


.title {
  margin: 0;

}

.card{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-title{
  background-color: #8bb381;
  height: 5em;
}

.card-description{  
  background-color: white;
}

.subtitle {
  margin:0;
}

.card-container{
  display: flex;
}

.card{
 width: 400px;
 margin: 1vw;

}

.card-picture{
  width : 400px;
  height : 400px;
}

.heading img{
  width: 100%;
  height:auto;
  opacity: 40%;
}


 
 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.main-title {
  font-size: 1.5em;
  line-height: 3;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.67px;
  text-align: center;
}

.sub-title {
  font-size: 2em;
  line-height: 3;
  color:black;
  text-transform: uppercase;
  letter-spacing: 1.67px;
  text-align: center;
}

.purpose{
  width: 100%;
  height: 400px;
  margin: 2em;
}

.purpose .title{  
  font-weight: bold;
}

.paragraph{
  
  font-size: 1.1em;
  line-height: 1.5;
}


.card-header-title {
  background-color: #8bb381;
  height: 5em;
}

.card-content {
  height: 18em;
}

.card-footer {
  text-align: center;
}
*/